<h2>Hello from Data Binding Component!</h2>
<div class="container">
    <ol>
        <li>
            <h3>One Way DB:</h3>
            <ol>
                <li>
                    <h4>Interpolation: </h4>
                    <div class="col-sm-12">                        
                        <div class="col-sm-3">Employee Name: {{empName}}</div>
                        <div class="col-sm-3">
                            This is hard coded value: <input type="text" value="Harry" placeholder="Enter your Name">        
                        </div>
                        <div class="col-sm-3">
                            This is using Interpolation<input type="{{inputTypeText}}" value="{{empName}}" class="{{inputTextClass}}" placeholder="{{inputPlaceHolder}}">
                        </div>
                    </div>
                </li>
                <li>
                    <h4>Property Binding: </h4>
                    <div class="col-sm-12">                        
                        <div class="col-sm-3">
                            <p [class]="inputTextClass">Text color is set using property binding</p>
                        </div>
                        <div class="col-sm-3">
                            <input [type]="inputTypeText" [value]="empName" [class]="inputTextClass" placeholder="Enter your Name">
                        </div>
                    </div>
                </li>
                <li>
                    <h4>Event Binding: </h4>
                    <div class="col-sm-12">
                        <div class="col-sm-3">
                             <button class="btn btn-primary" (click)="showPopup('Yeah! You\'ve just performed event binding.');">Click me</button>
                        </div>
                        <div class="col-sm-3">
                            <button class="btn btn-primary" (click)="changeEmployeeName();">Change Employee Name</button>
                        </div>
                    </div>
                </li>
            </ol>           
        </li>
        <li>
            <h3>Two way DB: </h3>
            <ul>
                <li>
                    <h4>ngModel</h4>
                    <div class="col-sm-12">
                        <div class="col-sm-3">
                            <input type="text" [(ngModel)]="empName" placeholder="Enter your name">
                        </div>
                        <div class="col-sm-3">
                            <select [(ngModel)]="houseName" title="{{houseName}}"> 
                                <option value="">-Select-</option>
                                <option value="Godric Gryffindor">Godric Gryffindor</option>
                                <option value="Salazar Slytherin">Salazar Slytherin</option>
                                <option value="Rowena Ravenclaw">Rowena Ravenclaw</option>
                                <option value="Helga Hufflepuff">Helga Hufflepuff</option>
                            </select>
                        </div>
                        <div class="col-sm-3">
                            <label>{{empName}} is in {{houseName}} house!</label>
                        </div>
                    </div>
                </li>
            </ul>
        </li>
        <li>
            <h3>Signal: </h3>
            <ul>
                <li>
                    <h4>Changing Name using Signal</h4>
                    <div class="col-sm-12">
                        <div class="col-sm-3">
                            <label>Default signal name: {{signalName()}}</label>
                        </div>
                        <div class="col-sm-3">
                            <button class="btn btn-primary" (click)="changeSignalName();">Change Signal Name</button>
                        </div>
                    </div>
                </li>
            </ul>
        </li>
    </ol>
    
    
   
    
</div>