<div>
    <h1>Structural Directives!</h1>

    <div class="container">
        <div class="row">
            <div class="col-sm-3">
                <div *ngIf="isHarryPresent" class="bg-primary p-4 text-center">
                    <h3>Hello Harry!</h3>
                </div>
            </div>
            <div class="col-sm-3">
                <div *ngIf="isRonaldPresent" class="bg-warning p-4 text-center">
                    <h3>Hello Ronald!</h3>
                </div>
            </div>
            <div class="col-sm-3">
                <div *ngIf="hermioneDoing==hermioneLikes" class="bg-danger p-4 text-center">
                    <h3>Hello Hermione!</h3>
                </div>
            </div>
            <div class="col-sm-3">
                <div *ngIf="isDracoAlive" class="bg-success p-4 text-center">
                    <h3>Hello Draco!</h3>
                </div>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-sm-3 text-center">
                 <button class="btn btn-danger mr-2" (click)="hideHarry();">Hide</button>
                 <button class="btn btn-success mr-2" (click)="showHarry();">Show</button>
            </div>
            <div class="col-sm-3 text-center">  
                <button class="btn btn-secondary mr-2" (click)="toggleRonald();">{{isRonaldPresent ? 'Hide' : 'Show'}}</button>
            </div>
            <div class="col-sm-3 text-center">
                 <input type="text" [(ngModel)]="hermioneDoing" placeholder="What is Hermione doing?">
                 <input type="text" [(ngModel)]="hermioneLikes" placeholder="What Hermione loves to do?">
            </div>
            <div class="col-sm-3 text-center">
                <input type="checkbox" name="isDracoAlive" id="isDracoAlive" [(ngModel)]="isDracoAlive">
                <label for="isDracoAlive" class="ml-3">Is Draco Alive?</label>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-sm-3">
                <label for="houseList">*ngFor in list</label>
                <ul>
                    <li *ngFor="let item of houseList;">{{item}}</li>
                </ul>
            </div>
            <div class="col-sm-3">
                <p>*ngFor in div</p>
                <div *ngFor="let data of houseList;">
                    {{data}}
                </div>
            </div>
            <div class="col-sm-3">
                <label for="houseDdl">*ngFor in dropdown</label>
                <select name="houseDdl" id="houseDdl">
                    <option *ngFor="let house of houseList;" [value]="house">
                        {{house}}
                    </option>
                </select>
            </div>
            <div class="col-sm-3">
                <label for="houseDdl">*ngFor in dropdown - Object</label>
                <select name="houseDdl" id="houseDdl">
                    <option *ngFor="let student of studentList;" [value]="student.house">
                        {{student.name}}
                    </option>
                </select>
            </div>
        </div>
        <div class="row">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Sr. No.</th>
                        <th>Name</th>
                        <th>House</th>
                        <th>Captain</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let data of studentList; let index=index;">
                        <td>{{index + 1}}</td>
                        <td>{{data.name}}</td>
                        <td>{{data.house}}</td>
                        <!-- <td>{{data.isCaptain ? 'Yes' : 'No'}}</td> -->
                        <td>
                            <span *ngIf="data.isCaptain">Yes</span>
                            <span *ngIf="!data.isCaptain">No</span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<button class="btn btn-primary mt-3" routerLink="attribute-directive">Go to Attribute Directive</button>
